.header__lang-link {
    max-width: 30px;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    text-decoration: none;
    color: white;
    padding-left: 18px;
    padding-top: 45px;
}
@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 20px;
        margin: 0;
        display: flex;
        padding-top: 30px;
        text-decoration: none;
        color: white;
        padding-right: 19px;
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
.header__lang-link {
        max-width: 30px;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        display: flex;
        padding-top: 28px;
        text-decoration: none;
        color: white;
        padding-right: 22px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.header__lang-link {
        max-width: 30px;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        display: flex;
        padding-top: 28px;
        text-decoration: none;
        color: white;
    }
}