.cover__link {
    text-decoration: none;
    background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
    /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
    max-width: 1280px;
    height: 100%;
    background-position: center;
    transition: opacity 0.4s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-repeat: no-repeat;
    
}
.cover__link:hover {
    opacity: 0.8;
}