.cover__link {
    text-decoration: none;
    background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
    /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
    max-width: 320px;
    min-height: 200px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: relative;
}
.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}
.cover__link:hover::before {
    opacity: 0.2;
}
@media screen and (max-width: 500px) and (min-width: 321px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 320px;
        min-height: 200px;
    }
}
@media screen and (max-width: 768px) and (min-width: 501px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 768px;
        min-height: 480px;
    }   
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 1024px;
        min-height: 640px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }
} 
@media screen and (min-width: 1025px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 1184px;
        min-height: 740px;
        background-position: center;
    }
}