.cover__link {
    text-decoration: none;
    background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
    /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
    max-width: 320px;
    min-height: 200px;
    background-position: center;
    transition: opacity 0.4s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
}
.cover__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 768px) and (min-width: 321px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 768px;
        min-height: 480px;
        background-position: center;
        transition: opacity 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }   
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 1024px;
        min-height: 640px;
        background-position: center;
        transition: opacity 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
} 
@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .cover__link {
        text-decoration: none;
        background-image: linear-gradient( rgba(255, 255, 255, 0.1   ), rgba(0, 0, 0, 0.8) ), url(../../../images/__background.png);
        /* background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)), url(../../../images/__background.png); */
        max-width: 1280px;
        min-height: 740px;
        background-position: center;
        transition: opacity 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }
}