._content{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-content: center;
    overflow: hidden;
}
.photo-grid__item {
    max-height: 100%;
}
@media screen and (max-width: 320px){
    ._content{
        background-color: aqua;
        height: 100px;
    }
   
}
@media (min-width: 320px) and (max-width: 768px) {
    ._content{
        background-color: rebeccapurple;
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    ._content{
        background-color: olive;
        height: 300px;
    }
}

