.photo-grid {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
    gap: 12px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .photo-grid {
        display: grid;
        max-width: 720px;
        height: max-content;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin-top: 88px;
        gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    .photo-grid {
        display: grid;
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
        margin: 0;
        margin-top: 90px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (min-width: 1280px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 14px;
        margin: 0;
        margin-top: 90px;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}