.places {
    max-width: 317px;
    padding: 0;
    padding-top: 14px;
    margin: 0;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .places {
        max-width: 768px;
        padding: 0;
        padding-top: 15px;
        margin: 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        max-width: 1024px;
        margin: 0 1.5rem;
    }
}
@media screen and (min-width: 1025px) {
    .places {
        max-width: 1280px;
        margin: 0 1.5rem;
    }
}