.header__logo {
    position: absolute;
    width: 8.75rem;
    top: 1rem;
    left: 1rem; 
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .header__logo {
        position: absolute;
        width: 11rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__logo {
        position: absolute;
        width: 14rem;
    }
}