    .header__logo {
        position: absolute;
        max-width: 11rem;
        left: 4px;
        top: 36px;
    }
@media screen and (max-width: 320px) {
        .header__logo {
        position: absolute;
        max-width: 8.75rem;
        top: 1rem;
        left: 1rem; 
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .header__logo {
        position: absolute;
        max-width: 11rem;
        left: 30px;
        top: 35px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__logo {
        position: absolute;
        max-width: 11rem;
        left: 10px;
        top: 36px;
    }
}