.header__logo {
    position: absolute;
    width: 14rem;
    top: 1.5rem;
    left: 3rem;
}
@media screen and (max-width: 320px) {
        .header__logo {
        position: absolute;
        max-width: 8.75rem;
        top: 1rem;
        overflow: hidden;
        left: 1rem; 
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .header__logo {
        position: absolute;
        max-width: 11rem;
        left: 24px;
        top: 28px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__logo {
        position: absolute;
        width: 14rem;
    }
}