.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    max-width: 1280px;
}
@media screen and (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: end;
        max-width: 320px;
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: end;
        max-width: 768px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: end;
        max-width: 1024px;
    }
}