.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  margin-top: 28px;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 504px) and (min-width: 321px) {
  .header {
    max-width: 320px;
    padding: 16px;
    margin: 0;
  }
}
@media screen and (min-width: 505px) and (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 30px 22px 16px 22px;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 930px) {
  .header {
    max-width: 768px;
    padding: 30px 22px 16px 22px;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 931px) and (max-width: 1024px) {
  .header {
    align-items: center;
    align-self: center;
    max-width: 928px;
    padding-top: 27px;
    margin: auto;
  }
}