.footer__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    color: white;
}
.footer__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 605px) and (min-width: 321px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 606px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;

    }
}
@media screen and (min-width: 1025px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}