.place__paragraph {
    max-width: 288px;
    height: min-content;
    margin: 0;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}
.place__paragraph > p {
    margin: 0;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__paragraph {
        display: grid;
        max-width: 352px;
        margin: 0;
        color: white;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 1rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__paragraph {
        display: grid;
        max-width: 456px;
        margin: 0;
        color: white;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 1rem;
    }
}
@media screen and (min-width: 1025px) {
    .place__paragraph {
        display: grid;
        max-width: 484px;
        margin: 0;
        color: white;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 1.5rem;
    }
}