.place__paragraph {
    width: 100vw;
    height: min-content;
    margin: 0;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}
.place__paragraph > p {
    margin: 0;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__paragraph {
        display: grid;
        width: 100vw;
        margin: 0;
        color: white;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        block-size: max-content;
    }
}