.place__paragraph {
    max-width: 285px;
    color: white;
    font-size: 16px;
    line-height: 163%;
    display: grid;
    grid-gap: 25px;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}
@media screen and (min-width: 321px) and (max-width: 500px) {
    .place__paragraph {
        max-width: 285px;
        font-size: 16px;
        line-height: 163%;
        display: grid;
        grid-gap: 25px;
        font-weight: 400;
        margin: auto;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .place__paragraph {
        display: grid;
        max-width: 352px;
        font-size: 15.9px;
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 25px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__paragraph {
        display: grid;
        max-width: 456px;
        margin: 0;
        font-size: 18px;
        line-height: 29.34px;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 25px;
    }
}
@media screen and (min-width: 1025px) {
    .place__paragraph {
        display: grid;
        max-width: 484px;
        margin: 0;
        font-size: 18px;
        line-height: 29.34px;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        inline-size: auto;
        grid-gap: 27px;
    }
}