.intro {
    max-width: 288px;
    padding-top: 64px;
    padding-left: 0.8rem;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .intro {
       max-width: 720px;
        padding-top: 64px;
        padding-left: 1rem;
        inline-size: auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        padding-top: 64px;
        padding-left: 3rem;
        inline-size: auto;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .intro {
        max-width: 690px;
        padding-top: 64px;
        padding-left: 10rem;
        inline-size: auto;
    }
}