.lead__caption {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    padding-top: 7.1px;
}
@media screen and (max-width: 310px) {
    .lead__caption { 
        padding-left: 0;
    }
}
@media screen and (min-width: 321px) and (max-width: 680px) {
    .lead__caption {
        letter-spacing: 1.5px;
        padding-top: 6px;
    } 
}
@media screen and (min-width: 681px) and (max-width: 768px) {
    .lead__caption {
        letter-spacing: 1.5px;
        padding-top: 6px;
    } 
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__caption {
        letter-spacing: 1.5px;
        padding-top: 8px;
    } 
}
@media screen and (min-width: 1025px) {
    .lead__caption {
        letter-spacing: 1.5px;
        padding-top: 9px;
    } 
}