.lead__caption {
    width: 158px;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    padding-left: 1.5rem;
}
@media screen and (max-width: 310px) {
    .lead__caption { 
        padding-left: 0;
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead__caption {
        width: 158px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-left: 1.5rem;
    } 
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__caption {
        padding-left: 6rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .lead__caption {
        padding-left: 18rem;
    }
}