.lead__caption {
    width: 100vw;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    padding-left: 1.5rem;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead__caption {
        width: 100vw;
        margin: 0;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: white;
        padding-left: 1.5rem;
    } 
}