.cover__title {
    text-align: center;
    color: white;
    max-width: 288px;
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
    line-height: 35px;
    z-index: 10;
}
@media screen and (max-width: 768px) and (min-width: 321px) {
    .cover__title {
        text-align: center;
        color: white;
        max-width: 35rem;
        margin: 0;
        font-weight: 900;
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .cover__title {
        text-align: center;
        color: white;
        max-width: 35rem;
        margin: 0;
        font-weight: 900;
        font-size: 4.5rem;
        line-height: 4rem;
    }
}
@media screen and (min-width: 1025px) {
    .cover__title {
        text-align: center;
        color: white;
        max-width: 35rem;
        margin: 0;
        font-weight: 900;
        font-size: 4.5rem;
        line-height: 4rem;
    }
}