.website__link {
    margin: 0;
    width: 100vw;
    text-decoration: underline;
    color: white;
}
.website__link:hover {
    opacity: 0.8;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .website__link {
        margin: 0;
        width: 100vw;
        text-decoration: underline;
        color: white;
    }
}