.place{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    gap: 2rem;
}
@media screen and (min-width: 321px) and (max-width: 768px){
    .place{
        max-width: 720px;
        display: grid;
        margin: auto;
        padding-top: 50px;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-template-rows: repeat(2, minmax(0, auto));
        grid-gap: 1rem 1rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .place{
        max-width: 928px;
        display: grid;
        margin: auto;
        padding-top: 5rem;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-template-rows: repeat(2, minmax(0, auto));
        grid-gap: 2rem 2rem;
    }
}
@media screen and (min-width: 1025px){
    .place{
        max-width: 984px;
        display: grid;
        margin: auto;
        padding-top: 5rem;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-template-rows: repeat(2, minmax(0, auto));
        grid-gap: 2.5rem 2.5rem;
    }
}