.footer {
    max-width: 186px;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 92px;
    justify-content: space-between;
}
@media screen and (max-width: 768px) and (min-width: 321px) {
    .footer {
        max-width: 720px;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding-top: 4.5rem;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .footer {
        display: flex;
        max-width: 928px;
        margin: auto;
        flex-direction: row;
        padding-top: 4.5rem;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .footer {
        display: flex;
        max-width: 1184px;
        margin: auto;
        flex-direction: row;
        padding-top: 8rem;
        justify-content: space-between;
    }
}