.footer {
    max-width: 186px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 68px;
    justify-content: space-between;
    margin-bottom: 22px;
}
@media screen and (max-width: 605px) and (min-width: 321px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 0;
        padding-top: 88px;
        padding-left: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px) and (min-width: 606px) {
    .footer {
        max-width: 720px;
        flex-direction: row;
        margin: auto;
        padding-top: 85px;
        margin-bottom: 22px;
    }
}
@media screen and (max-width: 930px) and (min-width: 769px) {
    .footer {
        max-width: 720px;
        margin: auto;
        flex-direction: row;
        padding-top: 92px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 931px) {
    .footer {
        max-width: 928px;
        margin: auto;
        flex-direction: row;
        padding-top: 92px;
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1025px) {
    .footer {
        max-width: 1184px;
        flex-direction: row;
        padding-top: 30px;
        margin-bottom: 22px;
    }
}