.place__website {
    width: 100vw;
    gap: 12px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__website {
        display: grid;
        width: 100vw;
        gap: 12px;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__website {
        display: grid;
        width: 100vw;
        gap: 12px;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .place__website {
        display: grid;
        width: 100vw;
        gap: 12px;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
    }
}
